APP_PORT=8001
EDIT_TOKEN=change-me
COOKIE_SECRET=change-me-too
LOCALHOST_EDIT_BYPASS=false
CONTENT_STARTUP_SYNC_POLICY=always
AWS_REGION=us-west-1
S3_BUCKET=
CLOUDFRONT_DOMAIN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
